{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Mantis | Network Monitoring</title>

    <!-- Bootstrap -->
    <link href="{% static 'common/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'dashboard/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/timelify.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap-datetimepicker.css' %}">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {% csrf_token %}
    <div class="wrapper">
      <div class="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <a href="#">
              <span class="logo" id="logo"></span>
            </a>
          </li>
          <center>
            <button type="button" id="newMessageBtn" class="btn btn-green">
            <span class="glyphicon glyphicon-edit compose-icon"></span>Compose Message</button>
          </center>
          <li>
              <a>
                <span class="icon icon-dashboard"></span>
                <span class="menu-label">Dashboard</span>
              </a>
            </li>
            <li class="active" onclick="show_inbound_messages(this)">
              <a>
                <span class="icon icon-inbox"></span>
                <span class="menu-label">Inbound Messages</span>
              </a>
            </li>
            <li onclick="show_outbound_messages(this)">
              <a>
                <span class="icon icon-outbox"></span>
                <span class="menu-label">Outbound Messages</span>
              </a>
            </li>
        </ul>
      </div>

      <div class="page-content-wrapper">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-left">
                <li class="visible-xs">
                  <a class="logo" href="/">
                    <span class="icon icon-accounts"></span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="icon icon-accounts"></span>
                    <span class="menu-label-logout">Hello User!</span>
                  </a>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="">
                    <span class="icon icon-logout"></span>
                    <span class="menu-label-logout">Logout</span>
                  </a>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    
  </body>
  <script src="{% static 'common/js/jquery.min.js' %}"></script>
  <script src="{% static 'common/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'dashboard/js/main.js' %}"></script>
  <script src="{% static 'dashboard/js/jquery.timelify.js' %}"></script>
  <script src="{% static 'dashboard/js/datepicker.js' %}"></script>
  <script src="{% static 'dashboard/js/jquery.typeahead.js' %}"></script>
  <script src="{% static 'dashboard/js/bootstrap-tagsinput.js' %}"></script>
  <script src="{% static 'dashboard/js/bootstrap-datetimepicker.js' %}"></script>
  <script src="{% static 'dashboard/js/chart/Chart.js' %}"></script>
  <script src="{% static 'dashboard/js/chart/Chart.bundle.js' %}"></script>
  <script src="{% static 'dashboard/js/chart/utils.js' %}"></script>
  <script src="{% static 'dashboard/js/chart/chart-main.js' %}"></script>
  <script>
      $('.timeline').timelify({
        animLeft: "fadeInLeft",
        animCenter: "fadeInUp",
        animRight: "fadeInRight",
        animSpeed: 600,
        offset: 150
      });
      
    $('.datepicker').datepicker({
        format: 'mm/dd/yyyy',
        startDate: '-3d'
    });
      
    $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
    $(".datetimeinput").datetimepicker({format: 'yyyy-mm-dd hh:ii', todayHighlight:'TRUE', autoclose: true});
    
  </script>
  <script src="{% static 'dashboard/js/bootstrap-tagsinput.js' %}"></script>
  <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap-taginput.css' %}">
  {% block custom_js %}
  {% endblock %}
</html>
